:root {
    --primary-background-color: #720e9e;
    --primary-background-gradient: linear-gradient(45deg, #4158D0 0%, #C850C0 53%, #FFCC70 99%);
    --map-purple: #720e9e;
    --map-purple-light: #EE82EE;
    --map-purple-dark: #4B0082;
    --primary-background-color-dark: #2b2b2b;
    --primary-background-color-dark-light: #5c5c5c;
    --primary-font-color: #ffffff;
}

.map-context-menu {
    border-radius: 0 1.5rem 1.5rem 1.5rem !important;
}

.side-bar-header-search-bar-autocomplete .p-autocomplete-input {
    width: 100%;
}

.leaflet-pane > svg path.leaflet-interactive:hover {
    color: black;
    stroke: black;
    fill: black;
}

.leaflet-popup .leaflet-popup-tip-container {
    display: none
}

.leaflet-popup-content-wrapper {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.leaflet-popup-content {
    width: fit-content !important;
}

.area-popup {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    min-width: 15rem !important;
    max-width: 25rem !important;
    min-height: 20rem !important;
    max-height: 35rem !important;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.p-galleria-indicators {
    background-color: transparent;
}

.p-galleria-indicator.p-highlight button {
    background-color: var(--gray-300) !important;
}

.place-marker {
    position: relative;
    display: flex;
}

.place-marker-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.9;
    border: 3px solid var(--gray-500);
    font-size: 25px;
    color: white;
    transition: width 100ms, height 100ms, font-size 50ms;
}

.place-marker-content:hover { 
    opacity: 1;
    border: 3px solid var(--gray-800);
}

.place-marker-label {
    display: flex;
    font-size: 15px;
    height: 100%;
    align-items: center;
    text-align: left;
    margin-left: 3em;
    width: 10rem;
    font-weight: bold;
    line-height: 20px;
    transition: font-size 100ms;
}

.layout-static-inactive .layout-map-container .map-filter {
    left: 50px !important;
}

.map-filter {
    z-index: 400;
    width: 400px; 
    top: 100px;
    left: 350px;
    border-radius: 10px
}

@media (max-width: 990px) {
    .map-filter {
        left: 50px;
        max-width: 15rem;
    }
}
